<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Matcha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
    <body>
        <div>
            <div class="split left">
                <div id="leftSection" class="out_gal">
                    <img src="{{ url_for('static', filename='snowcouple.jpeg')}}">
                    <img src="{{ url_for('static', filename='brunette.jpeg')}}">
                    <img src="{{ url_for('static', filename='engaged.jpeg')}}">
                    <img src="{{ url_for('static', filename='guy.jpeg')}}">
                    <img src="{{ url_for('static', filename='smile.jpeg')}}">
                    <img src="{{ url_for('static', filename='wong.jpeg')}}">
                </div>
            </div>
            <div class="loginbox">
                <div class="avatarbox">
                    <img class="avatar" src="{{ url_for('static', filename='avatar.png')}}">
                </div>
                <h1>Login Form</h1>
                <div class="formbox">
                    <form>
                        <p>Username</p>
                        <input type="text" name="" placeholder="Enter Username">
                        <p>Password</p>
                        <input type="password" name="" placeholder="Enter Password">
                        <input type="submit" name="" value="Login">
                        <a href="#">Forgot Password?</a>
                        <br>
                        <a href="#">Already have an Account?</a>
                    </form>
                </div>
            </div>
            {% include 'includes/_navbar.html' %}
            {% block body %}{% endblock %}
        </div>
        <!-- <script type="text/javascript">
            $(document).ready(function() {
                $('#leftSection').leftSection({
                    navigation: true,
                    continuousVertical: true,
                    afterRender: function() {
                        setInterval(function(){
                            $.fn.leftSection.moveSectionDown();
                        }, 1500);
                    }
                });
            });
        </script> -->
    </body>
</html>