<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Matcha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
</head>
    <body>
        <div class=container>
            <div class="split left">
                <div class="centered">
                    <!-- <img src="img_avatar2.png" alt="Avatar woman"> -->
                    <h2>Jane Flex</h2>
                    <p>Some text.</p>
                </div>
            </div>
            
            <div class="split right">
                <div class="centered">
                    <!-- <img src="img_avatar.png" alt="Avatar man"> -->
                    <h2>John Doe</h2>
                    <p>Some text here too.</p>
                </div>
            </div>
            {% include 'includes/_navbar.html' %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>